<div class="main-content">
    <div class="container-fluid">
        <div [hidden]="isDataAvailable"><div class="spinner"><div></div><div></div><div></div></div></div>
        <div *ngIf="isDataAvailable">
                <div *ngFor="let feed of feeds ">
                        <div class="panel panel-danger">
                                <div class="panel-heading">
                                  <h3 class="panel-title">{{feed.verb}}</h3>
                                </div>
                                <div class="panel-body">
                                        <ul>
                                                <li *ngFor="let message of feed.messages">
                                                     {{ message }}
                                                   </li>
                                        </ul>
                                </div>
                        </div> 
                </div>
        </div>
    </div>
</div>



